@charset "UTF-8";


.loading-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
	.logo{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(21,21,21);
        padding: 2px 15px 3px;
        text-align: center;
        animation: 8s animation-full 0.5s ease-in forwards;
        position: relative;
        min-width: 200px;
        height: 70px;
        border-radius: 6px;
        overflow: hidden;
        img{
            height: 50px;
            position: relative;
            z-index: 2;
            filter: brightness(0) invert(1);
        }
    }
    .logo__inner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        animation: 8s animation-inner 0.5s ease-in forwards;
    }
    .logo__text {
    }
}

@keyframes animation-inner {
	0% { 
		width: 0%;
		background-color: rgb(138,160,163);
	}
	20% {
		width: 100%;
		background-color: rgb(138,160,163);
	}
	20.001% {
		width: 0%;
		background-color: rgb(107,124,127);
	}
	40% {
		width: 100%;
		background-color: rgb(107,124,127);
	}
	40.001% {
		width: 0%;
		background-color: rgb(76,89,91);
	}
	60% {
		width: 100%;
		background-color: rgb(76,89,91);
	}
	60.001% {
		width: 0%;
		background-color: rgb(45,53,55);
	}
	80% {
		width: 100%;
		background-color: rgb(45,53,55);
	}
	80.001% {
		width: 0%;
		background-color: rgb(30,36,37);
	}
	100% {
		width: 100%;
		background-color: rgb(30,36,37);
	}
}
@keyframes animation-full {
	0% {
		background-color: rgb(169,196,200);
	}
	20% {
		background-color: rgb(169,196,200);
	}
	20.001% {
		background-color: rgb(138,160,163);
	}
	40% {
		background-color: rgb(138,160,163);
	}
	40.001% {
		background-color: rgb(107,124,127);
	}
	60% {
		background-color: rgb(107,124,127);
	}
	60.001% {
		background-color: rgb(76,89,91);
	}
	80% {
		background-color: rgb(76,89,91);
	}
	80.001% {
		background-color: rgb(45,53,55);
	}
	100% {
		background-color: rgb(45,53,55);
	}
}