.order-section{
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    margin-top: 16px;
    height: auto;
    @include max992{
        padding: 20px;
        margin-bottom: 16px;
    }
    
    .head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h5{
            margin: 0;
            font-size: 15px;
            line-height: 20px;
            font-weight: 700;
        }

        h4{
            margin: 0;
            font-size: 20px;
            line-height: 20px;
            font-weight: 700;
        }
    }
    .tab-list-order{
        display: flex;
        width: 220px;
        height: 28px;
        background: #F7F7F7;
        border-radius: 14px;
        @include max992{
            width: 200px;
        }
        li{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            // transition: $eio;
            @include max992{
                font-weight: 400;
                font-size: 12px;
            }
            &.selected{
                background-color: #000;
                color: #fff;
                border-radius: 14px;
            }
        }
    }
    .table-responsive{
        overflow-y: scroll;
        min-height: calc(100vh - (280px + 142px));
        margin-top: 10px;
        @include max992{
            width: 100%;
            height: 80vh;
        }
    }
    .table{
        
        
        tr{
            @include max992{
                display: flex!important;
                flex-direction: column;
                border-bottom: 10px solid #fff;
                border-radius: 10px!important;
            }
            td{
                background-color: #F7F7F7;
                padding: 16px 13px;
                border: none;
                vertical-align: middle!important;
                border-bottom:10px solid #fff;
                border-top:10px solid #fff;
                @include max992{
                    border: none;
                    
                    width: 100%!important;
                    padding:8px 10px;
                }
                &:first-child{
                    border-radius: 20px 0 0 20px;
                    @include max992{
                        border-radius: 12px 12px 0 0;
                    }
                }
                &:last-child{
                    border-radius: 0 20px 20px 0;
                    @include max992{
                        border-radius: 0 0 12px 12px;
                    }
                }
                .border-left{
                    border-left: 1px solid #000;
                    height: 100%;
                    padding-left: 30px;
                }
                .text{
                    display: flex;
                    align-items: center;
                    .tt{
                        flex: 1;
                        h5{
                            font-size: 15px;
                            font-weight: 600;
                            @include max992{
                                font-size: 13px;
                                margin-bottom: 5px;
                            }
                        }
                        p{
                            font-size: 11px;
                            line-height: 14px;
                            margin: 0;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;  
                            overflow:hidden;
                        }
                    }
                }
                .icon{
                    width: 55px;
                    height: 55px;
                    background-color: #fff;
                    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.07));
                    border-radius: 17px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 20px;
                    img{
                        width: 29px;
                        height: 29px;
                        object-fit: contain;
                    }
                }

                .hd{
                    font-size: 11px;
                    line-height: 14px;
                    display: block;
                    margin-bottom: 4px;
                }
                p{
                    font-size: 12px;
                    line-height: 14px;
                    margin: 0;
                }

                .button{
                    background-color: #7B7B7B;
                    border-radius: 10px;
                    height: 45px;
                    width: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    font-weight: 700;
                    color: #fff;
                    transition: $eio;
                    margin-left: auto;
                    @include max992{
                        width: 100%;
                        height: 40px;
                    }

                    &:hover {
                        box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
                        transform: translate(0px, -4px) scale(1.01);
                    }
                }
            }
        }
    }
}